<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Crow1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {34, 16}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{34, 16}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 388}, {34, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {36, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{36, 14}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 385}, {36, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {36, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{36, 14}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 388}, {36, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {36, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{36, 14}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 455}, {36, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {32, 18}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{32, 18}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 93}, {32, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 14}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{14, 18}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 2}, {14, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly-Cycle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {72, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{72, 31}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 2}, {72, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly-Cycle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {72, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{72, 37}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 2}, {72, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly-Cycle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {72, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{72, 35}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 2}, {72, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly-Glide.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 28}, {72, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{72, 33}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 2}, {72, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Glide-Cycle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 28}, {68, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{68, 35}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 41}, {68, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Glide-Cycle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 25}, {68, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{68, 39}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 37}, {68, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Glide-Cycle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 26}, {68, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{68, 37}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 39}, {68, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{68, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 2}, {68, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {58, 67}}</string>
			<key>spriteOffset</key>
			<string>{-7, -6}</string>
			<key>spriteSize</key>
			<string>{58, 67}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 200}, {58, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {50, 75}}</string>
			<key>spriteOffset</key>
			<string>{-11, -3}</string>
			<key>spriteSize</key>
			<string>{50, 75}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 185}, {50, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {50, 79}}</string>
			<key>spriteOffset</key>
			<string>{-11, -2}</string>
			<key>spriteSize</key>
			<string>{50, 79}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 417}, {50, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {56, 63}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{56, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 249}, {56, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {66, 61}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{66, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 65}, {66, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {52, 67}}</string>
			<key>spriteOffset</key>
			<string>{-5, -6}</string>
			<key>spriteSize</key>
			<string>{52, 67}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 254}, {52, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {46, 77}}</string>
			<key>spriteOffset</key>
			<string>{-10, -3}</string>
			<key>spriteSize</key>
			<string>{46, 77}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 110}, {46, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {50, 79}}</string>
			<key>spriteOffset</key>
			<string>{-10, -2}</string>
			<key>spriteSize</key>
			<string>{50, 79}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 417}, {50, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-Start-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 22}, {50, 61}}</string>
			<key>spriteOffset</key>
			<string>{-3, -11}</string>
			<key>spriteSize</key>
			<string>{50, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 220}, {50, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-Start-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 20}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{-4, -10}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 189}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-Start-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 20}, {56, 63}}</string>
			<key>spriteOffset</key>
			<string>{-5, -10}</string>
			<key>spriteSize</key>
			<string>{56, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 269}, {56, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-Cycle-Start-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {68, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{68, 55}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 35}, {68, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land-Cycle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 18}, {58, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{58, 65}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 128}, {58, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land-Cycle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 22}, {60, 61}}</string>
			<key>spriteOffset</key>
			<string>{2, -11}</string>
			<key>spriteSize</key>
			<string>{60, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 141}, {60, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PowerUpFlight.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{48, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 314}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 28}, {50, 55}}</string>
			<key>spriteOffset</key>
			<string>{3, -14}</string>
			<key>spriteSize</key>
			<string>{50, 55}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 269}, {50, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 34}, {56, 49}}</string>
			<key>spriteOffset</key>
			<string>{-2, -17}</string>
			<key>spriteSize</key>
			<string>{56, 49}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 334}, {56, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {64, 45}}</string>
			<key>spriteOffset</key>
			<string>{-1, -19}</string>
			<key>spriteSize</key>
			<string>{64, 45}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 78}, {64, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 30}, {64, 53}}</string>
			<key>spriteOffset</key>
			<string>{-3, -15}</string>
			<key>spriteSize</key>
			<string>{64, 53}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 169}, {64, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 28}, {56, 55}}</string>
			<key>spriteOffset</key>
			<string>{3, -14}</string>
			<key>spriteSize</key>
			<string>{56, 55}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 128}, {56, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 40}, {48, 43}}</string>
			<key>spriteOffset</key>
			<string>{7, -20}</string>
			<key>spriteSize</key>
			<string>{48, 43}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 260}, {48, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 50}, {44, 33}}</string>
			<key>spriteOffset</key>
			<string>{4, -25}</string>
			<key>spriteSize</key>
			<string>{44, 33}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 283}, {44, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Roll-Cycle-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 34}, {34, 49}}</string>
			<key>spriteOffset</key>
			<string>{3, -17}</string>
			<key>spriteSize</key>
			<string>{34, 49}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 404}, {34, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 21}, {62, 61}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{62, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 137}, {62, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 22}, {66, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{66, 57}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 78}, {66, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 24}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{-6, -12}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 356}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {50, 63}}</string>
			<key>spriteOffset</key>
			<string>{-7, -10}</string>
			<key>spriteSize</key>
			<string>{50, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 195}, {50, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 20}, {52, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{52, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 323}, {52, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 22}, {60, 61}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{60, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 92}, {60, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {60, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{60, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 224}, {60, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 21}, {62, 61}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{62, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 78}, {62, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 22}, {66, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{66, 57}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {66, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 24}, {60, 59}}</string>
			<key>spriteOffset</key>
			<string>{-4, -12}</string>
			<key>spriteSize</key>
			<string>{60, 59}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 188}, {60, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {58, 63}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{58, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 155}, {58, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 20}, {56, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{56, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 204}, {56, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 22}, {62, 61}}</string>
			<key>spriteOffset</key>
			<string>{-2, -11}</string>
			<key>spriteSize</key>
			<string>{62, 61}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 125}, {62, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Run-Cycle-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {58, 65}}</string>
			<key>spriteOffset</key>
			<string>{-1, -9}</string>
			<key>spriteSize</key>
			<string>{58, 65}</string>
			<key>spriteSourceSize</key>
			<string>{72, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 289}, {58, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>meteor.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {114, 106}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{114, 106}</string>
			<key>spriteSourceSize</key>
			<string>{128, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {114, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>powerup.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {32, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{32, 26}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 65}, {32, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>