<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 32}</string>
			<key>spriteSourceSize</key>
			<string>{480, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{501, 242}, {480, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 32}</string>
			<key>spriteSourceSize</key>
			<string>{480, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 68}, {480, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 32}</string>
			<key>spriteSourceSize</key>
			<string>{480, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 34}, {480, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 32}</string>
			<key>spriteSourceSize</key>
			<string>{480, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 0}, {480, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 73}</string>
			<key>spriteSourceSize</key>
			<string>{56, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 394}, {56, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{25, 11}</string>
			<key>spriteSourceSize</key>
			<string>{25, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 255}, {11, 25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 11}</string>
			<key>spriteSourceSize</key>
			<string>{25, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 201}, {11, 25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 11}</string>
			<key>spriteSourceSize</key>
			<string>{25, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 228}, {11, 25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 11}</string>
			<key>spriteSourceSize</key>
			<string>{25, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 174}, {11, 25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {21, 13}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{21, 13}</string>
			<key>spriteSourceSize</key>
			<string>{25, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 102}, {13, 21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {11, 13}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{11, 13}</string>
			<key>spriteSourceSize</key>
			<string>{25, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 282}, {11, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 99}</string>
			<key>spriteSourceSize</key>
			<string>{86, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 394}, {99, 86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 246}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 246}</string>
			<key>spriteSourceSize</key>
			<string>{98, 246}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 443}, {98, 246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 174}</string>
			<key>spriteSourceSize</key>
			<string>{89, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 650}, {89, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 169}</string>
			<key>spriteSourceSize</key>
			<string>{67, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{751, 535}, {169, 67}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 232}</string>
			<key>spriteSourceSize</key>
			<string>{99, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 805}, {232, 99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 138}</string>
			<key>spriteSourceSize</key>
			<string>{118, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 102}, {118, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 224}</string>
			<key>spriteSourceSize</key>
			<string>{113, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 0}, {113, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 96}</string>
			<key>spriteSourceSize</key>
			<string>{91, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 819}, {91, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 198}</string>
			<key>spriteSourceSize</key>
			<string>{130, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 276}, {198, 130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 200}</string>
			<key>spriteSourceSize</key>
			<string>{126, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 691}, {200, 126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 224}</string>
			<key>spriteSourceSize</key>
			<string>{125, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 408}, {224, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99, 233}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 233}</string>
			<key>spriteSourceSize</key>
			<string>{99, 233}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 0}, {99, 233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 264}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 264}</string>
			<key>spriteSourceSize</key>
			<string>{120, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{33, 174}, {120, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 227}</string>
			<key>spriteSourceSize</key>
			<string>{108, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 899}, {227, 108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 245}</string>
			<key>spriteSourceSize</key>
			<string>{92, 245}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 805}, {245, 92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 192}</string>
			<key>spriteSourceSize</key>
			<string>{113, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{761, 276}, {192, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aTreeClump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {286, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{286, 172}</string>
			<key>spriteSourceSize</key>
			<string>{286, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{33, 0}, {286, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aTreeClump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {238, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{238, 165}</string>
			<key>spriteSourceSize</key>
			<string>{238, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 276}, {238, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aTreeClump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 151}</string>
			<key>spriteSourceSize</key>
			<string>{218, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 174}, {151, 218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 483}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_BalloonCart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 63}</string>
			<key>spriteSourceSize</key>
			<string>{51, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 906}, {63, 51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Boxes1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 32}</string>
			<key>spriteSourceSize</key>
			<string>{56, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{33, 440}, {56, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Bush1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 25}</string>
			<key>spriteSourceSize</key>
			<string>{37, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 440}, {25, 37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Ground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {481, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{481, 31}</string>
			<key>spriteSourceSize</key>
			<string>{481, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {31, 481}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_PopcornCart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 88}</string>
			<key>spriteSourceSize</key>
			<string>{116, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 906}, {116, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Tent1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 113}</string>
			<key>spriteSourceSize</key>
			<string>{167, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 535}, {167, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Tent2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 92}</string>
			<key>spriteSourceSize</key>
			<string>{119, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 819}, {92, 119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_TentFlag1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {30, 27}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 27}</string>
			<key>spriteSourceSize</key>
			<string>{34, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 443}, {30, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{34, 25}</string>
			<key>spriteSourceSize</key>
			<string>{34, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 443}, {25, 34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_TentFlag3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {28, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{28, 25}</string>
			<key>spriteSourceSize</key>
			<string>{34, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 650}, {28, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {30, 27}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 27}</string>
			<key>spriteSourceSize</key>
			<string>{34, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 443}, {30, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {32, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{32, 25}</string>
			<key>spriteSourceSize</key>
			<string>{34, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 650}, {32, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{34, 25}</string>
			<key>spriteSourceSize</key>
			<string>{34, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 408}, {34, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Tree1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 172}</string>
			<key>spriteSourceSize</key>
			<string>{178, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 102}, {178, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Tree2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {138, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 163}</string>
			<key>spriteSourceSize</key>
			<string>{138, 163}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{501, 102}, {163, 138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Tree3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 126}</string>
			<key>spriteSourceSize</key>
			<string>{105, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{823, 391}, {126, 105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tile_Left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 440}, {35, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile_Middle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 443}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile_Right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 443}, {35, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{33, 474}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>backgroundAtlas.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>backgroundAtlas</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>backgroundAtlas</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>