<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 64}</string>
			<key>spriteSourceSize</key>
			<string>{960, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 636}, {64, 960}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 64}</string>
			<key>spriteSourceSize</key>
			<string>{960, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 636}, {64, 960}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {960, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{960, 62}</string>
			<key>spriteSourceSize</key>
			<string>{960, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 994}, {62, 960}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {960, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{960, 62}</string>
			<key>spriteSourceSize</key>
			<string>{960, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 636}, {62, 960}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Balloons.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 145}</string>
			<key>spriteSourceSize</key>
			<string>{111, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 305}, {111, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {46, 21}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{46, 21}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 176}, {21, 46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {48, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 19}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 1798}, {19, 48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {50, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 19}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 115}, {19, 50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {50, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 19}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 63}, {19, 50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {42, 23}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{42, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 248}, {23, 42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Crow6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {18, 23}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 224}, {23, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{172, 198}</string>
			<key>spriteSourceSize</key>
			<string>{172, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1844, 1142}, {172, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 491}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 491}</string>
			<key>spriteSourceSize</key>
			<string>{196, 491}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 962}, {491, 196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 347}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 347}</string>
			<key>spriteSourceSize</key>
			<string>{178, 347}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1591, 962}, {347, 178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 338}</string>
			<key>spriteSourceSize</key>
			<string>{134, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1478, 1546}, {338, 134}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 464}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 464}</string>
			<key>spriteSourceSize</key>
			<string>{197, 464}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 1805}, {464, 197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {235, 275}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{235, 275}</string>
			<key>spriteSourceSize</key>
			<string>{235, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1321}, {275, 235}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills1-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {226, 447}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{226, 447}</string>
			<key>spriteSourceSize</key>
			<string>{226, 447}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{799, 1160}, {226, 447}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills1-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {182, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{182, 190}</string>
			<key>spriteSourceSize</key>
			<string>{182, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1746, 1354}, {182, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {259, 395}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{259, 395}</string>
			<key>spriteSourceSize</key>
			<string>{259, 395}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 1074}, {259, 395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {252, 397}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{252, 397}</string>
			<key>spriteSourceSize</key>
			<string>{252, 399}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1337, 962}, {252, 397}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 448}</string>
			<key>spriteSourceSize</key>
			<string>{250, 448}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1798}, {448, 250}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {198, 465}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{198, 465}</string>
			<key>spriteSourceSize</key>
			<string>{198, 465}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1598}, {465, 198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 528}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 528}</string>
			<key>spriteSourceSize</key>
			<string>{240, 528}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 63}, {528, 240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {216, 453}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 453}</string>
			<key>spriteSourceSize</key>
			<string>{216, 453}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1027, 1545}, {216, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aHills2-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {183, 490}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{183, 490}</string>
			<key>spriteSourceSize</key>
			<string>{183, 490}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1254, 1361}, {490, 183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aHills2-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {225, 383}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{225, 383}</string>
			<key>spriteSourceSize</key>
			<string>{225, 383}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1027, 1160}, {225, 383}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aTreeClump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {571, 344}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{571, 344}</string>
			<key>spriteSourceSize</key>
			<string>{571, 344}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 63}, {344, 571}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1aTreeClump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {476, 329}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{476, 329}</string>
			<key>spriteSourceSize</key>
			<string>{476, 329}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 305}, {476, 329}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1aTreeClump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {436, 301}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{436, 301}</string>
			<key>spriteSourceSize</key>
			<string>{436, 301}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{541, 636}, {301, 436}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{963, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_BalloonCart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 125}</string>
			<key>spriteSourceSize</key>
			<string>{102, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 452}, {102, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Boxes1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 64}</string>
			<key>spriteSourceSize</key>
			<string>{111, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 63}, {64, 111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Bush1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 50}</string>
			<key>spriteSourceSize</key>
			<string>{74, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 579}, {74, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Ground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {961, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{961, 61}</string>
			<key>spriteSourceSize</key>
			<string>{961, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {961, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_PopcornCart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {231, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{231, 176}</string>
			<key>spriteSourceSize</key>
			<string>{231, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1245, 1546}, {231, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Tent1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {332, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{332, 226}</string>
			<key>spriteSourceSize</key>
			<string>{334, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 1471}, {226, 332}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Tent2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {238, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{238, 183}</string>
			<key>spriteSourceSize</key>
			<string>{238, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 1609}, {238, 183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {56, 53}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{56, 53}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 579}, {56, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {64, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{64, 47}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 838}, {47, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_TentFlag3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {54, 47}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{54, 47}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 838}, {54, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 248}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {62, 49}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{62, 49}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 904}, {62, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_TentFlag6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {64, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{64, 49}</string>
			<key>spriteSourceSize</key>
			<string>{68, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 772}, {49, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Tree1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {356, 343}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{356, 343}</string>
			<key>spriteSourceSize</key>
			<string>{356, 343}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 636}, {343, 356}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>L1a_Tree2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {276, 325}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{276, 325}</string>
			<key>spriteSourceSize</key>
			<string>{276, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 994}, {276, 325}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L1a_Tree3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 251}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 251}</string>
			<key>spriteSourceSize</key>
			<string>{210, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1591, 1142}, {251, 210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tile_Left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 634}, {60, 70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tile_Middle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 706}, {60, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tile_Right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 176}, {60, 70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>dot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 167}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>backgroundAtlas-hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>backgroundAtlas-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>backgroundAtlas-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>