<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Crow1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {46, 21}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{46, 21}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1193, 418}, {46, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {48, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 19}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{963, 455}, {48, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {50, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 19}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1217, 393}, {50, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {50, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 19}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1193, 441}, {50, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {42, 23}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{42, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1173, 393}, {42, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Crow6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {18, 23}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1173, 418}, {18, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {296, 391}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 391}</string>
			<key>spriteSourceSize</key>
			<string>{296, 391}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{963, 0}, {296, 391}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {226, 389}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{226, 389}</string>
			<key>spriteSourceSize</key>
			<string>{226, 391}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1261, 0}, {226, 389}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {233, 436}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{233, 436}</string>
			<key>spriteSourceSize</key>
			<string>{233, 436}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1325}, {233, 436}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {225, 419}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{225, 419}</string>
			<key>spriteSourceSize</key>
			<string>{225, 419}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1497, 366}, {225, 419}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {235, 376}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{235, 376}</string>
			<key>spriteSourceSize</key>
			<string>{235, 378}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 534}, {235, 376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 483}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 483}</string>
			<key>spriteSourceSize</key>
			<string>{197, 483}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1724, 0}, {197, 483}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 364}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 364}</string>
			<key>spriteSourceSize</key>
			<string>{170, 364}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1489, 0}, {170, 364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills1-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {210, 438}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{210, 438}</string>
			<key>spriteSourceSize</key>
			<string>{210, 440}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1109, 1577}, {210, 438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {234, 411}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{234, 411}</string>
			<key>spriteSourceSize</key>
			<string>{234, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 912}, {234, 411}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {242, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{242, 503}</string>
			<key>spriteSourceSize</key>
			<string>{242, 505}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 64}, {242, 503}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {228, 415}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{228, 415}</string>
			<key>spriteSourceSize</key>
			<string>{228, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{733, 64}, {228, 415}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {226, 537}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{226, 537}</string>
			<key>spriteSourceSize</key>
			<string>{226, 537}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1269, 391}, {226, 537}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {198, 421}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{198, 421}</string>
			<key>spriteSourceSize</key>
			<string>{198, 423}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1497, 787}, {198, 421}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {234, 487}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{234, 487}</string>
			<key>spriteSourceSize</key>
			<string>{234, 489}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{497, 64}, {234, 487}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 574}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 574}</string>
			<key>spriteSourceSize</key>
			<string>{177, 574}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 1211}, {177, 574}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2aHills2-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {251, 468}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{251, 468}</string>
			<key>spriteSourceSize</key>
			<string>{251, 468}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 64}, {251, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 569}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Ground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {961, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{961, 62}</string>
			<key>spriteSourceSize</key>
			<string>{961, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {961, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Torch.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 143}</string>
			<key>spriteSourceSize</key>
			<string>{14, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 534}, {14, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Tree1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {214, 344}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{214, 344}</string>
			<key>spriteSourceSize</key>
			<string>{214, 344}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1697, 787}, {214, 344}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Tree2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 269}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 269}</string>
			<key>spriteSourceSize</key>
			<string>{210, 269}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1763}, {210, 269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Tree3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 269}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 269}</string>
			<key>spriteSourceSize</key>
			<string>{210, 269}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1215, 930}, {210, 269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_Tree4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {162, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{162, 212}</string>
			<key>spriteSourceSize</key>
			<string>{162, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1724, 485}, {162, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_TreeClump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {765, 364}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{765, 364}</string>
			<key>spriteSourceSize</key>
			<string>{765, 370}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1109, 1211}, {765, 364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_TreeClump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {596, 365}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{596, 365}</string>
			<key>spriteSourceSize</key>
			<string>{624, 371}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 1633}, {596, 365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L2a_TreeClump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {692, 420}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{692, 420}</string>
			<key>spriteSourceSize</key>
			<string>{700, 422}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 1211}, {692, 420}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Moon1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {175, 232}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{175, 232}</string>
			<key>spriteSourceSize</key>
			<string>{195, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{833, 1787}, {175, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile_Left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{963, 393}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile_Middle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1107, 393}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile_Right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 393}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>forestRetreatAtlas-hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>forestRetreatAtlas-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>forestRetreatAtlas-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>