<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Sword-Slash-Frame-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {101, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{101, 114}</string>
			<key>spriteSourceSize</key>
			<string>{109, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 244}, {101, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sword-Slash-Frame-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {101, 114}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{101, 114}</string>
			<key>spriteSourceSize</key>
			<string>{123, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 1}, {101, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sword-Slash-Frame-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {102, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{102, 122}</string>
			<key>spriteSourceSize</key>
			<string>{114, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 1}, {102, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sword-Slash-Frame-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {164, 138}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{164, 138}</string>
			<key>spriteSourceSize</key>
			<string>{172, 146}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 144}, {164, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sword-Slash-Frame-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {170, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{170, 142}</string>
			<key>spriteSourceSize</key>
			<string>{176, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {170, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sword-Slash-Frame-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {134, 99}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{134, 99}</string>
			<key>spriteSourceSize</key>
			<string>{144, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 144}, {134, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blood_b_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 65}, {68, 24}}</string>
			<key>spriteOffset</key>
			<string>{26, -2}</string>
			<key>spriteSize</key>
			<string>{68, 24}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 116}, {68, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blood_b_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 60}, {80, 32}}</string>
			<key>spriteOffset</key>
			<string>{29, -1}</string>
			<key>spriteSize</key>
			<string>{80, 32}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 164}, {80, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blood_b_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{63, 57}, {84, 36}}</string>
			<key>spriteOffset</key>
			<string>{30, -0}</string>
			<key>spriteSize</key>
			<string>{84, 36}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 367}, {84, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blood_b_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 56}, {84, 40}}</string>
			<key>spriteOffset</key>
			<string>{31, -1}</string>
			<key>spriteSize</key>
			<string>{84, 40}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 326}, {84, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blood_b_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{63, 55}, {86, 42}}</string>
			<key>spriteOffset</key>
			<string>{31, -1}</string>
			<key>spriteSize</key>
			<string>{86, 42}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 283}, {86, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blood_b_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 55}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{34, -2}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 1}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 47}</string>
			<key>spriteSourceSize</key>
			<string>{52, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 116}, {52, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {47, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{47, 47}</string>
			<key>spriteSourceSize</key>
			<string>{47, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 46}, {47, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {83, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{83, 46}</string>
			<key>spriteSourceSize</key>
			<string>{85, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 244}, {83, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 46}</string>
			<key>spriteSourceSize</key>
			<string>{78, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 326}, {78, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>